.contact {
  background: #071825;
  padding-block: 150px 170px;
  color: #fff;
  margin-top: -30px;
  position: relative;
}
@media screen and (max-width: 1800px) {
  .contact {
    padding-block: 80px;
  }
}
@media screen and (max-width: 1200px) {
  .contact {
    padding-block: 80px;
  }
}
@media screen and (max-width: 992px) {
  .contact {
    padding-block: 85px 130px;
  }
}
.contact__label {
  position: absolute;
  left: 50px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: 36px;
  font-size: 18px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 1800px) {
  .contact__label {
    left: -30px;
  }
}
@media screen and (max-width: 1200px) {
  .contact__label {
    left: -30px;
    font-size: 14px;
  }
}
.contact__label-container {
  position: sticky;
  top: 130px;
}
@media screen and (max-width: 768px) {
  .contact__label-container {
    display: none;
  }
}
.contact__content {
  max-width: 623px;
  margin: 0 auto;
}
.contact-form {
  border-top: 1px solid #BFBBB2;
  max-width: 710px;
}
.contact-form .form-label,
.contact-form .form-check-label {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #BFBBB2;
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  .contact-form .form-label,
  .contact-form .form-check-label {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
  }
}
.contact-form .form-check-label {
  line-height: 30px;
  color: #BFBBB2;
  padding-left: 6px;
}
.contact-form .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.contact-form .form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #BFBBB2;
  border-radius: 0;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: #fff;
  font-size: 22px;
  font-family: "bigcity-grotesque-pro", sans-serif;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .contact-form .form-control {
    padding-bottom: 10px;
    line-height: 30px;
    font-size: 18px;
  }
}
.contact-form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #BA7912;
}
.contact-form .form-control::-webkit-input-placeholder {
  font-size: 22px;
  font-family: "bigcity-grotesque-pro", sans-serif;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
}
.contact-form .form-control::-moz-placeholder {
  font-size: 22px;
  font-family: "bigcity-grotesque-pro", sans-serif;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
}
.contact-form .form-control:-ms-input-placeholder {
  font-size: 22px;
  font-family: "bigcity-grotesque-pro", sans-serif;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
}
.contact-form .form-control::-ms-input-placeholder {
  font-size: 22px;
  font-family: "bigcity-grotesque-pro", sans-serif;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
}
.contact-form .form-control::placeholder {
  font-size: 22px;
  font-family: "bigcity-grotesque-pro", sans-serif;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .contact-form .form-control::-webkit-input-placeholder {
    font-size: 18px;
  }
  .contact-form .form-control::-moz-placeholder {
    font-size: 18px;
  }
  .contact-form .form-control:-ms-input-placeholder {
    font-size: 18px;
  }
  .contact-form .form-control::-ms-input-placeholder {
    font-size: 18px;
  }
  .contact-form .form-control::placeholder {
    font-size: 18px;
  }
}
.contact-form .btn {
  margin-top: 10px;
}
.contact-form textarea {
  resize: none;
}
.contact__title {
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 60px;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .contact__title {
    font-size: 22px;
    line-height: 32px;
  }
}
.contact__social-links .contact__text, .contact__links .contact__text, .contact__address .contact__text {
  font-size: 18px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  line-height: 55px;
  color: #BA7912;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .contact__social-links .contact__text, .contact__links .contact__text, .contact__address .contact__text {
    font-size: 15px;
  }
}
.contact__social-links p:not(.contact__text), .contact__links p:not(.contact__text), .contact__address p:not(.contact__text) {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .contact__social-links p:not(.contact__text), .contact__links p:not(.contact__text), .contact__address p:not(.contact__text) {
    font-size: 18px;
  }
}
.contact__social-links, .contact__links, .contact__address {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .contact__social-links, .contact__links, .contact__address {
    margin-bottom: 15px;
  }
}
.contact-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .contact-link {
    font-size: 18px;
  }
}
.contact-link:focus, .contact-link:hover {
  color: #fff;
}
.contact-link:active {
  color: #fff;
}
.contact .social-link {
  text-decoration: none;
}
.contact .social-link + .social-link {
  margin-left: 10px;
}
.contact .btn-outline-light:hover, .contact .btn-outline-light:focus {
  background-color: #fff;
  border: 1px solid #fff;
  color: #071825;
}
.contact .form-radio {
  width: 20px;
  height: 20px;
  accent-color: #071825;
  position: relative;
  top: 3px;
}/*# sourceMappingURL=contact.css.map */